__pycache__
.coverage
.provisioned
.pytest_cache
ansible/group_vars/all
ansible/inventory/inventory
ansible/roles/*
ansible/site.yml
!ansible/roles/.keep
!ansible/roles/devel
build
cbsd.conf
coverage.xml
database.db
local_config.py
media/*
!media/.keep
pyser/static/
site.retry
test.db
vars.mk
